* {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1002px;
    margin: auto;
}


/************************************************
                     Text
************************************************/

h1 {
    font-size: 3rem;
}


/************************************************
                     Header
************************************************/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #C7DDEA;
    padding: 3em 6em 0em 0em;
}

header h1 {
    margin-right: 2em;
}

header img {
    width: 18%;
}


/************************************************
                     Navbar
************************************************/

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 1.5em 0;
}

li>a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #666666;
    font-weight: 900;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}


/************************************************
                     Contact
************************************************/

.contact {
    display: flex;
    justify-content: space-evenly;
    background-color: #A9A19E;
    padding: 5em 0;
}

.left-side {
    width: 40%;
}

.right-side {
    width: 40%;
}

.left-side h1 {
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}

label {
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: .5em;
}

input {
    width: 100%;
    height: 1.5em;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-bottom: 2em;
    padding: .75em 0em;
}

textarea {
    width: 100%;
    height: 12em;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-bottom: 2em;
}

.btn {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    border: none;
    box-shadow: 3px 3px 10px #464545;
    transition: all .2s ease-in-out;
    cursor: pointer;
    outline: none;
    width: 45%;
    height: 3.5em;
    align-self: flex-end;
    font-weight: 900;
    font-size: 0.75rem;
}

.btn:hover {
    transform: scale(1.2);
}


/************************************************
                     Map
************************************************/

.map {
    background-image: url("../img/map.png");
    padding: 2em 0;
}

.inner-container {
    display: flex;
    align-items: flex-start;
    padding: 4em 0em 7em 5em;
}

.inner-container img {
    position: relative;
    width: 8%;
    align-self: flex-end;
    bottom: -1.5em;
}

.map-box {
    width: 35%;
    background: #FAB131;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 1.5em 0 5em 2em;
    margin-right: 2.5em;
}

.map-box h1 {
    color: #FFFFFF;
    margin-bottom: .25em;
}

.map-box p {
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 600;
}


/************************************************
                     Footer
************************************************/

footer {
    height: 340px;
    background-color: #777574;
}


/************************************************
                     Mobile
************************************************/

@media (max-width: 600px) {
    .content {
        min-width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    /************************************************
                     Mobile Header
    ************************************************/
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 2em 0 0 2em;
    }
    header img {
        width: 50%;
    }
    /************************************************
                     Mobile Contact
    ************************************************/
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #A9A19E;
        padding: 2em 0;
    }
    .left-side {
        width: 100%;
        text-align: center;
    }
    .right-side {
        width: 100%;
    }
    .left-side h1 {
        font-size: 2rem;
        padding: 1em 1em;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    input {
        width: 70%;
    }
    textarea {
        width: 70%;
        height: 7em;
    }
    .btn {
        align-self: center;
    }
    /************************************************
                     Mobile Map
    ************************************************/
    .map {
        background-image: url("../img/map.png");
        padding: 3em 2em;
    }
    .inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .inner-container img {
        position: relative;
        width: 12%;
        align-self: flex-end;
        bottom: 0;
    }
    .map-box {
        width: 70%;
        background: #FAB131;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        padding: 1em 0 2em 1em;
        margin-right: 2.5em;
    }
    .map-box h1 {
        font-size: 1.75rem;
        color: #FFFFFF;
        margin-bottom: .25em;
    }
    .map-box p {
        color: #FFFFFF;
        font-size: 0.75rem;
        font-weight: 600;
    }
    /************************************************
                     Mobile Footer
    ************************************************/
    footer {
        height: 250px;
        background-color: #777574;
    }
}