* {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 60%;
    margin: auto;
}


/************************************************
                     Header
************************************************/

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #C7DDEA;
    padding: 50px 100px 0px 0px;
}

header h1 {
    font-size: 45px;
    margin-right: 60px;
}

.menu {
    width: 50px;
}


/************************************************
                     Navbar
************************************************/

.navbar {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px;
    justify-content: space-evenly;
    overflow: hidden;
    list-style: none;
    border: 1px solid white;
    background-color: #FFFFFF;
}

li>a {
    color: #666666;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar a:hover {
    color: black;
}


/************************************************
                     Contact
************************************************/

.contact {
    display: flex;
    justify-content: space-around;
    background-color: #A9A19E;
    padding: 150px 150px 80px 100px;
}

.left-side h1 {
    font-size: 45px;
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
}

.label-msg {
    margin-top: 30px;
}

input {
    width: 334px;
    height: 40px;
    border-radius: 2px;
    border: none;
    outline: none;
}

textarea {
    width: 334px;
    height: 166px;
    border-radius: 2px;
    border: none;
    outline: none;
}

.btn {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    border: none;
    box-shadow: 3px 3px 10px #464545;
    transition: all .2s ease-in-out;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
    align-self: flex-end;
    font-weight: 600;
}

.btn:hover {
    transform: scale(1.2);
}

.left-side img {
    width: 350px;
}


/************************************************
                     Map
************************************************/

.map {
    background-image: url("../img/map.png");
    height: 507px;
    padding: 60px 0px 0px 80px;
    display: flex;
    align-items: flex-start;
}

.map img {
    margin-top: 150px;
    margin-left: 50px;
}

.map-box {
    width: 323px;
    height: 206px;
    background: #FAB131;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 20px 0px 0px 30px;
}

.map-box h1 {
    color: #FFFFFF;
    font-size: 45px;
    margin-bottom: 10px;
}

.map-box p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}


/************************************************
                     Footer
************************************************/

footer {
    height: 340px;
    background-color: #777574;
}