body {
    margin: 0;
}

.content {
    max-width: 80%;
    margin: auto;
}


/* COVER CONTACT PAGE*/

.topp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C7DDEA;
}

.topp h1 {
    font-size: 45px;
    margin-left: 400px;
}

.header-img {
    overflow: hidden;
}

.header-img img {
    position: relative;
    bottom: -200px;
    width: 150px;
}


/* NAV*/

.navbar {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px;
    justify-content: space-evenly;
    overflow: hidden;
    list-style: none;
    border: 1px solid white;
    background-color: #FFFFFF;
}

li>a {
    color: #666666;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar a:hover {
    color: black;
}


/*Contact*/

.contact {
    display: flex;
    justify-content: space-around;
    background-color: #A9A19E;
    padding: 150px 150px 80px 100px;
}

.left-side h1 {
    font-size: 45px;
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
}

.label-msg {
    margin-top: 30px;
}

input {
    width: 334px;
    height: 40px;
    border-radius: 2px;
    border: none;
    outline: none;
}

textarea {
    width: 334px;
    height: 166px;
    border-radius: 2px;
    border: none;
    outline: none;
}

.btn {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    border: none;
    box-shadow: 3px 3px 10px #464545;
    transition: all .2s ease-in-out;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
    align-self: flex-end;
    font-weight: 600;
}

.btn:hover {
    transform: scale(1.2);
}

.left-side img {
    width: 350px;
}


/* Map */

.map {
    height: 407px;
    background-color: #000000;
}


/* Footer */

footer {
    height: 340px;
    background-color: #777574;
}