@media only screen and (min-width:600px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    body {
        max-width: 80%;
        margin: auto;
    }
    /************************************************
                        header
    ************************************************/
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .header-one {
        grid-row: 1 / span 2;
        background-color: #C7DDEA;
    }
    .header-one h2 {
        font-size: 48px;
        padding: 100px 100px 0px 80px;
    }
    .header-one p {
        margin-top: 20px;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 550;
        color: #555454;
        line-height: 25px;
        padding: 0px 100px 10px 80px;
    }
    .header-one span {
        color: #ffffff;
    }
    .header-family-container {
        display: flex;
    }
    .header-one button {
        width: 12em;
        height: 3em;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 25px;
        border: none;
        margin: 70px 0px 0px 80px;
        box-shadow: 3px 3px 10px #464545;
        transition: all .2s ease-in-out;
        cursor: pointer;
        outline: none;
    }
    .header-one button:hover {
        transform: scale(1.2);
    }
    /* .test {
        margin: -5px;
    } */
    .header-one img {
        width: 20em;
        height: auto;
        align-self: flex-end;
    }
    .header-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F17949;
        min-height: 50%;
        font-family: fira sans;
    }
    .header-two h3 {
        color: #00000080;
        font-size: 11px;
    }
    .header-two h1 {
        color: #ffffff;
        font-size: 32px;
    }
    .header-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FAB131;
        min-height: 50%;
    }
    .header-three h3 {
        color: #00000080;
        font-size: 11px;
    }
    .header-three h1 {
        color: #ffffff;
        font-size: 32px;
    }
    /************************************************
                        nav
    ************************************************/
    nav {
        height: 100px;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100px;
    }
    nav a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        color: #817f7f;
        font-size: 20px;
    }
    nav a:hover {
        color: black !important;
    }
    nav a:visited {
        color: #817f7f;
    }
    /************************************************
                        main
    ************************************************/
    .main-one {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: linear-gradient(180deg, #a9a9a9 50%, #FAB131 50%);
        padding: 100px 100px 100px 100px;
    }
    .main-inner-container h1 {
        color: #ffffff;
        font-size: 48px;
        line-height: 100%;
    }
    .btn-two {
        width: 200px;
        height: 50px;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 25px;
        border: none;
        margin-top: 70px;
        box-shadow: 3px 3px 10px #464545;
        transition: all .2s ease-in-out;
        cursor: pointer;
        outline: none;
    }
    .btn-two:hover {
        transform: scale(1.2);
    }
    .main-one p {
        width: 280px;
        height: 190px;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: #00000066;
        margin-bottom: 50px;
    }
    .persons {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 7.5em;
    }
    .person {
        display: flex;
        flex-direction: column;
        width: 16em;
        height: 19.25em;
        margin-right: 1em;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px #0000001a;
        border-radius: 5px;
    }
    .flex-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .person h1 {
        font-size: 16px;
        color: #000000;
        height: 40px;
        width: 100px;
        margin-top: -10px;
    }
    .person p {
        width: 220px;
        height: 80px;
        font-weight: bold;
        font-size: 11px;
        line-height: 20px;
    }
    .person-img-container {
        position: relative;
        top: -20px;
        width: 236px;
        height: 150px;
        background: #C7DDEA;
        border-radius: 4px;
        overflow: hidden;
        margin-left: 10px;
    }
    .person-img-container img {
        width: 100px;
        margin: 15px 0px 0px 70px
    }
    .adult-img-container {
        background: #FAB131;
    }
    .old-img-container {
        background-color: #F17949;
    }
    .old-img-container img {
        width: 150px;
        margin: 15px 0px 0px 50px;
    }
    .main-two h2 {
        font-size: 48px;
        color: #FFFFFF;
        margin: 50px;
        text-align: center;
    }
    .main-two p {
        width: 30em;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #00000066;
    }
    .main-three {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .box {
        display: flex;
        flex-direction: column;
        height: 21.5em;
        text-align: center;
    }
    .box h1 {
        align-self: flex-start;
        color: #00000066;
        font-size: 35px;
        padding: 20px;
    }
    .box p {
        font-weight: 600;
        font-size: 17px;
        color: #000000b3;
        align-self: center;
        padding-top: 70px;
    }
    .box-zero {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #C7DDEA;
        height: 21.5em;
    }
    .box-zero h1 {
        font-size: 45px;
    }
    .box-two {
        background-color: #EBEBEB;
    }
    .box-four {
        background-color: #F17949;
    }
    /************************************************
                     Footer
    ************************************************/
    .footer-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        background-color: #A8A19E;
    }
    .footer-up a {
        color: #000000;
        font-size: 32px;
        transform: rotate(90deg);
        cursor: pointer;
        text-decoration: none;
    }
    .footer-up a:visited {
        color: #000000;
    }
    .footer-down {
        background-color: #777474;
        min-height: 350px;
    }
}

@media only screen and (max-width:600px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    body {
        width: 100%;
        margin: 0px;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    /************************************************
                     Header
    ************************************************/
    header {
        display: grid;
        grid-template-columns: 1fr;
    }
    .header-one {
        background-color: #C7DDEA;
        display: flex;
        flex-direction: column;
        padding: 50px 15px 0px 15px;
    }
    .header-one h2 {
        height: 101px;
        font-size: 45px;
        margin-bottom: 20px;
    }
    .header-one p {
        height: 103px;
        width: 290px;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #00000099;
        margin-bottom: 30px;
        margin-right: 0;
    }
    .header-one span {
        color: #ffffff;
    }
    .header-one button {
        width: 125px;
        height: 40px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 25px;
        border: none;
        box-shadow: 3px 3px 10px #464545;
        transition: all .2s ease-in-out;
        cursor: pointer;
        outline: none;
        margin-bottom: 50px;
    }
    .header-one button:hover {
        transform: scale(1.2);
    }
    .header-one img {
        width: 100%;
    }
    .header-two {
        height: 315px;
        background-color: #F17949;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-two h3 {
        color: #00000080;
        font-size: 11px;
    }
    .header-two h1 {
        color: #ffffff;
        font-size: 32px;
    }
    .header-three {
        height: 315px;
        background-color: #FAB131;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-three h3 {
        color: #00000080;
        font-size: 11px;
    }
    .header-three h1 {
        color: #ffffff;
        font-size: 32px;
    }
    nav {
        display: none;
    }
    /************************************************
                     Main-one
    ************************************************/
    .main-one {
        max-width: 100%;
        background: linear-gradient(180deg, #a9a9a9 100%, #FAB131 0%);
        display: flex;
        flex-direction: column;
        /* padding: 30px 25px 40px 25px; */
    }
    .main-one h1 {
        color: #ffffff;
        /* height: 140px; */
        width: 300px;
        font-size: 40px;
        line-height: 44px;
        margin: 25px 0px 20px 10px;
    }
    .main-one p {
        width: 250px;
        height: 190px;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #00000066;
        margin: 0px 0px 50px 10px;
    }
    .btn-two {
        display: none;
    }
    .persons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 1100px;
    }
    .person {
        width: 256px;
        height: 308px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px #0000001a;
        border-radius: 5px;
    }
    .flex-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .person h1 {
        font-size: 16px;
        color: #000000;
        height: 40px;
        width: 100px;
        margin-top: -10px;
    }
    .person p {
        width: 220px;
        height: 80px;
        font-weight: bold;
        font-size: 11px;
    }
    .person-img-container {
        position: relative;
        top: -20px;
        width: 236px;
        height: 150px;
        background: #C7DDEA;
        border-radius: 4px;
        overflow: hidden;
        margin-left: 10px;
    }
    .person-img-container img {
        width: 100px;
        margin: 15px 0px 0px 70px
    }
    .adult-img-container {
        background: #FAB131;
    }
    .old-img-container {
        background-color: #F17949;
    }
    .old-img-container img {
        width: 150px;
        margin: 15px 0px 0px 50px;
    }
    /************************************************
                     Main-two
    ************************************************/
    .main-two {
        background-color: #FAB131;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 15px 120px 15px;
    }
    .main-two h2 {
        color: #ffffff;
        font-weight: 900;
        font-size: 45px;
        margin-bottom: 20px;
    }
    .main-two p {
        font-weight: 600;
        font-size: 14px;
        height: 280px;
        width: 240px;
        color: #00000099;
    }
    /************************************************
                     Main-three
    ************************************************/
    .box {
        display: flex;
        flex-direction: column;
        height: 170px;
        text-align: center;
        padding: 5px 0px 0px 10px;
    }
    .box h1 {
        align-self: flex-start;
        color: #00000066;
        font-size: 35px;
    }
    .box p {
        font-weight: 600;
        font-size: 17px;
        color: #000000b3;
        align-self: center;
        padding-top: 25px;
    }
    .box-zero {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #C7DDEA;
        height: 170px;
    }
    .box-zero h1 {
        font-size: 45px;
    }
    .box-two {
        background-color: #EBEBEB;
    }
    .box-four {
        background-color: #F17949;
    }
    /************************************************
                     Footer
    ************************************************/
    footer {
        background: #777574;
        height: 218px;
    }
    .footer-up {
        display: none;
    }
}